from cmath import sqrt
import math
from re import I
c = 299792458

running = True
while running == True:
    print("Before we enter the value make sure that the velocity you enter should be in decimal, Integers will throw an error")
    v = (float)(input("Enter the Velocity, but the units are considered in light's speed \n "))
    time_spend = int(input("Enter the Time you may spend there\n"))
    vc = (v*c/c)**2
    if vc>=1:
       print("It reaches infinity")
    b = sqrt(1-(vc))
    t = time_spend/(b)
    print(f"The time you spend in {v} of light speed will be {t} years for earth ") 
    print("Press q to quit or any other key to enter another value\n")
    again = input()
    if again==("q"):
           running = False
    
			
    
           

