
#This code is written by me, this program calculates the time dilation ,We know that future time travel is possible but theoretically ,
#IMO we are still travelling the time but in the usual speed where 1 minute is equal to 60 seconds or 1 second is equal to 1 second  
#this gets tricky but that's the beauty of it. by this code you can calculate that how many years it will be in earth if we travel 
#in the speed of light for  "x" years #REMEMBER WE TAKE VELOCITY AS A DECIMAL NUMBER ,
#WE CAN'T USE AN INTEGER FOR IT :) #FOR AN EXAMPLE IF WE TAKE VELOCITY AS 0.99 #AND YEARS AS 10 #WE GET THE RESULT 70.88 YEARS


from cmath import sqrt
import math
from re import I
c = 299792458

running = True
while running == True:
    print("Before we enter the value make sure that the velocity you enter should be in decimal, Integers will throw an error")
    v = (float)(input("Enter the Velocity, but the units are considered in light's speed \n "))
    time_spend = int(input("Enter the Time you may spend there\n"))
    vc = (v*c/c)**2
    if vc>=1:
       print("It reaches infinity")
    b = sqrt(1-(vc))
    t = time_spend/(b)
    print(f"The time you spend in {v} of light speed will be {t} years for earth ") 
    print("Press q to quit or any other key to enter another value\n")
    again = input()
    if again==("q"):
           running = False
    
			
    
           

